# Created by .ignore support plugin (hsz.mobi)

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries


# Directories #
/build/
/bin/
out/
target/
.idea
classes/
META-INF/


*.class
/programmers_codingtest.iml
